<div class="swiper-wrapper align-items-center swiper-3d">
    <div class="swiper-slide">
        <img src="{{room.imageUrl}}" alt="{{room.name}}">
    </div>
    <div class="swiper-slide">
        <img src="{{room.gallery}}" alt="{{room.name}}">
    </div>
</div>