<!-- ======= Catalog Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Check out our rentals</h2>
            <p>All Accommodation</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            {{#each rooms}}
                {{> roomCard}}
            {{/each}}

        </div>

    </div>
</section><!-- End Catalog Section -->