<!-- ======= Details Section ======= -->
<section id="portfolio-details" class="portfolio-details" data-aos="fade-up">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    {{> roomGallery }}
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Room facilities</h3>
                    <ul>
                        {{#each room.facilities}}
                            <li><i class="bx bx-check-circle me-2 text-success"></i> {{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>Here you will find</h2>
                    <p>
                        {{room.description}}
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Details Section -->