<!-- ======= Create Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Login</h2>
            <p>To Your Account</p>
        </div>
        <div class="row mt-1">
            <div class=" mt-2 mt-lg-0 m-auto d-flex">
                <form action="/auth/login" method="post" class="create-form">
                    <div class="my-3">
                        {{#if error}}
                            {{#each error}}
                                <div class="error-message">{{this}}</div>
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class="row m-auto col-lg-8 col-auto mt-3 mb-3 form-group">
                        <div class="input-group mb-2">
                            <label class="input-group-text col-md-2 col-lg-2 col-sm-3"
                                for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                placeholder="Username..." required />
                        </div>
                        <div class="input-group mt-2">
                            <label class="input-group-text col-md-2 col-lg-2 col-sm-3"
                                for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="* * * * *" required />
                        </div>
                    </div>

                    <div class="row mt-3 mb-3 form-group">
                        <div class="text-center"><button type="submit">Login</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>