<h1>About Us</h1>
<article>
    <h2>Contacts</h2>
    <p><strong>Address:</strong> Robert Robertson, 1234 NW Bobcat Lane, St. Robert, MO 65584-5678.</p>
    <hr />
    <p><strong>Phone:</strong> +359 458 858 | +225 877 589</p>
    <hr />
    <p><strong>Email:</strong> info@bookit.com</p>
    <hr />
    <p><strong>Social:</strong>
        <a href="#">facebook</a> |
        <a href="#">twitter</a> |
        <a href="#">telegram</a>
    </p>
</article>